CompileFlags:
  CompilationDatabase: .
  Add:
    - -xc++
    - -I.
    - -I../libdji/include
    - -isystem/usr/include/x86_64-linux-gnu/qt6
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtCore
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtBluetooth
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtNetwork
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtDBus
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtQml
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtQuick
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtGui
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtTest
    - -isystem/usr/include/x86_64-linux-gnu/qt6
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtCore
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtBluetooth
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtNetwork
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtDBus
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtQml
    - -isystem/usr/include/x86_64-linux-gnu/qt6/QtQuick

